html, body{
  height:100%;
}

body {
	margin: 0;
	padding: 0;
}

header {
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-position-x: top;
	height: 180px;
}

main {
	padding: 10px;
	background-color: #f5f5f5;
	height: 100%;
}

#primarymenu {
	border-bottom: solid 1px #aaa;
	height:32px;
}

#primarymenu ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primarymenu > ul > li {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primarymenu ul li {
	position:relative;
	float:left;
	color: rgb(64,126,216);
}


#primarymenu ul li.current-menu-item {
	background:#ddd
}

#primarymenu ul li:hover
{
	background:#f6f6f6
}

#primarymenu ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primarymenu ul ul li
{
	float:none;
	width:200px
}

#primarymenu ul ul a
{
	line-height:120%;
	padding:10px 15px
}


#primarymenu ul li:hover > ul
{
	display:block
}

td {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	color: #000000;
}
#dropmenudiv {
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	border-top:0px solid #fffffff;
	border-bottom:0px solid #ffffff;
	position:absolute;
	line-height:18px;
	z-index:100;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-size:11px;
	font-family:Verdana;
	background-color: #2E67B9;
}
#dropmenudiv a {
	width: 100%;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #ffffff;
	padding: 1px 0;
	text-decoration: none;
	font-weight: bold;
	color:#FFFFFF;
}
#dropmenudiv a:hover { /*hover background color*/
	background-color: #2E67B9;
}


.adminBody {
	background-color: white;
	margin-top: 0px;
	margin-left: 0px;
	height: 98%;
}

.adminAppTitle {
	font-weight: bold;
	font-size: 16px;
}

.adminLeftMenu, .adminLeftMenu a {
	background-color: #66ccff;
	
}
.adminPageHeader {
	font-weight: bold;
}


.adminListTable, .adminListTable td {
	border:1px solid #efefef;
}

.adminListHeader {
	color: #ffffff;
	font-weight: bold;
	background-color: #2E67B9;
}
.adminList0 {
	background-color: white;
}

.adminList1 {
	background-color: #efefef;
}

a:link,a:visited,a:active,a:hover{
	color:#407ED8;
	text-decoration:none
}

a:hover{
	color:#2F67B9;
	text-decoration:underline
}
